-
   function getClass(tag) {
      switch(tag) {
         case 'div': return 'c28'; break;
         case 'h1': return 'c29'; break;
         case 'a': return 'c30'; break;
         case 'ul': return 'c31'; break;
         case 'li': return 'c31'; break;
         case 'svg': return 'c32'; break;
         case 'input': return 'c33'; break;
         case 'img': return 'c33'; break;
         case 'p': return 'c29'; break;
      }
   }


mixin para(x)
   .c19.target-dots= x

mixin tag-o(name)
   - let c1 = `target-${name}`
   - let c2 = getClass(name)
   div.dull(class=[c1, c2]) <
   div(class=[c1, c2])= name

mixin tag-c(name)
   - let c1 = `target-${name}`
   - let c2 = getClass(name)
   div.dull(class=[c1, c2])= `</`
   div(class=[c1, c2])= name
   div.dull(class=[c1, c2]) >


mixin tag(name, value, end, selfClosing)
   - let c1 = `target-${name}`
   - let c2 = getClass(name)
   +tag-o(name)
   block
   if selfClosing
      div(class=[c1,c2]) /
   div.dull(class=[c1,c2]) >
   if value
      +space
      +text(value)
      +space
   if end
      +tag-c(name)



mixin atr(name, value, tag, valueDull = false)
   - let c2 = getClass(tag)
   +space
   div(class=c2).dull= name
   div(class=c2).dull =
   div(class=c2).dull "
   div(class=c2 class= valueDull ? 'dull' : '' )= value
   div(class=c2).dull "


mixin text(name)
   .c35.target-html-text= name

//-----------------------------------------------

.html.page
   //- <div class="container" style="max-width: 900px;">
   .line
      +tag('div')
         +atr('class', 'container', 'div')
         +atr('style', 'max-width: 900px;', 'div', true)

   +empty-line

   //- <h1 id="app">Codetheme X</h1>
   .line
      +tabs(2)
      +tag('h1', 'CodeTheme X', true)
         +atr('id', 'app-name', 'h1')

   //- <p>by</p>
   .line
      +tabs(2)
      +tag('p', 'by', true)

   //- <a href="twitter.com/expresso_js"> Manan Tank </a>
   .line
      +tabs(2)
      +tag('a', 'Twitter', true)
         +atr('href', 'twitter.com/_MananTank', 'a', true)


   +empty-line

   //- <ul class="app-info">
   .line
      +tabs(2)
      +tag('ul')
         +atr('class', 'app-info', 'ul')

   //- <li>v1.6</li>
   .line
      +tabs(4)
      +tag('li', 'v1.6', true)


   //- <li>Last updated on: May, 2020</li>
   .line
      +tabs(4)
      +tag('li', 'Last updated on: May, 2020', true)
      .space.last-char


   //- </ul>
   .line
      +tabs(2)
      +tag-c('ul')
      .space.before-curve
      .curve.target-editor &nbsp;


   +empty-line

   //- <svg>..</svg>
   .line
      +tabs(2)
      +tag('svg', '..', true)

   //- <input onclick="handleClick()" />
   .line
      +tabs(2)
      +tag('input', false, false, true)
         +atr('onclick', 'handleClick()', 'input')

   //- <img src="./wow.png" />
   .line
      +tabs(2)
      +tag('img', false, false, true)
         +atr('src', './wow.png', 'img', true)

   +empty-line

   //- </div>
   .line
      +tag-c('div')