-
   function getClass(tag) {
      switch(tag) {
         case 'div': return 'c28'; break;
         case 'h1': return 'c29'; break;
         case 'a': return 'c30'; break;
         case 'ul': return 'c31'; break;
         case 'li': return 'c31'; break;
         case 'svg': return 'c32'; break;
         case 'input': return 'c33'; break;
         case 'img': return 'c33'; break;
         case 'p': return 'c34'; break;
      }
   }


mixin para(x)
   .c19.target-dots= x

mixin tag-o(name)
   div(class=`target-${name}` class=getClass(name))= `<${name}`

mixin tag-c(name)
   div(class=`target-${name}` class=getClass(name))= `</${name}>`


mixin tag(name, value, end, selfClosing)
   +tag-o(name)
   block
   if selfClosing
      div(class=`target-${name}` class=getClass(name) ) /
   div(class=`target-${name}` class=getClass(name) ) >
   if value
      +space
      +text(value)
      +space
   if end
      +tag-c(name)


mixin atr(name, value)
   +space
   .c7.target-html-atr= name
   .c19.target-dots =
   .c21.target-html-atr-value= `"${value}"`

mixin text(name)
   .c19.target-html-text= name

//-----------------------------------------------

.html.page
   //- <div class="container" style="max-width: 900px;">
   .line
      +tag('div')
         +atr('class', 'container')
         +atr('style', 'max-width: 900px;')

   +empty-line

   //- <h1 id="app">Codetheme X</h1>
   .line
      +tabs(2)
      +tag('h1', 'CodeTheme X', true)
         +atr('id', 'app-name')

   //- <p>by</p>
   .line
      +tabs(2)
      +tag('p', 'by', true)

   //- <a href="twitter.com/expresso_js"> Manan Tank </a>
   .line.current-line
      +tabs(2)
      +tag('a', 'Twitter', true)
         +atr('href', 'twitter.com/expresso_js')
      .cursor &nbsp;

   +empty-line

   //- <ul class="app-info">
   .line
      +tabs(2)
      +tag('ul')
         +atr('class', 'app-info')

   //- <li>v1.6</li>
   .line
      +tabs(4)
      +tag('li', 'v1.6', true)


   //- <li>Last updated on: May, 2020</li>
   .line.target-selected-text
      +tabs(4)
      +tag('li', 'Last updated on: May, 2020', true)
      .space.last-char


   //- </ul>
   .line.target-selected-text
      +tabs(2)
      +tag-c('ul')
      .space.before-curve
      .curve.target-editor &nbsp;


   +empty-line

   //- <svg>..</svg>
   .line
      +tabs(2)
      +tag('svg', '..', true)

   //- <input onclick="handleClick()" />
   .line
      +tabs(2)
      +tag('input', false, false, true)
         +atr('onclick', 'handleClick()')

   //- <img src="./wow.png" />
   .line
      +tabs(2)
      +tag('img', false, false, true)
         +atr('src', './wow.png')

   +empty-line

   //- </div>
   .line
      +tag-c('div')